<!DOCTYPE html>
<html ng-app="predictionMarketApp">
<head>
  <title>Prediction Markets App</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href="./app.css" rel='stylesheet' type='text/css'>
  <script src="./app.js"></script>
  <script src="./angularapp.js"></script>
</head>
<body>
  <h1>PredictionMarket</h1>

  <div class="action" ng-controller="controlAccountController as control">
    <h2>Account</h2>
    <div ng-if="control.showLocalAccounts">
      <label for="local">Use local accounts:</label>
      <input id="local" type="checkbox" ng-model="control.localAccounts"><br>
    </div>
    <label for="account">Select a control account before interacting with the contract: </label>
    <select id="account"
      ng-model="control.selectedAddress"
      ng-change="control.changeSelectedAccount(control.selectedAddress)">
      <option ng-repeat="a in control.accountsList" value="{{a}}">{{ $index }}</option>
    </select>
    <div class="info">
      <span>Address: {{ control.selected.address }}</span>
      <span>balance: {{ control.selected.balance | unitEther }} eth</span>
    </div>
    <label>Gas limit for transactions: </label>
      <input type="text" ng-model="control.selected.gasLimit">
    </label>
  </div>

  <div class="action" ng-controller="predictionMarketsController as mc">
    <a href ui-sref="create">Create a new prediction market</a>
    <h2>Available predictions markets</h2>
    <div ng-repeat="addr in mc.availMrktAddrs">
      <a href ng-click="mc.selectMarket(addr)">{{addr}} - {{mc.marketsDetails[addr].question}}</a>
    </div>
  </div>

  <section ui-view></section>

  <div ng-controller="mistController"></div>
</body>
</html>
